.bc-background-blockchain-1 { background-color: #4C585B; }
.bc-background-blockchain-2 { background-color: #7E99A3; color: black; }
.bc-background-blockchain-3 { background-color: #A5BFCC; }
.bc-background-blockchain-4 { background-color: #F4EDD3; color: black;}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column; /* Change to column to stack items vertically */
    align-items: center;
    padding: 10px;
    /*background-color: #A5BFCC; !* Adjust the background color as needed *!*/
    color: white; /* Adjust the text color as needed */
    position: fixed;
    top: 40px;
    left: 0px;
    width: 30%;
    z-index: 10;

}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.logo {
    height: 200px; /* Adjust the height as needed */
    margin-bottom: 30px; /* Adjust margin to create space between logo and company name */
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Styling for the login container */
.login-container, .register-container {
    width: 30%;
    height: 98%;
    padding: 20px;
    margin: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    background-color: #71c0dc;
    color: black;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling for the heading */
.login-container h2 {
    position: relative;
    top: -40px;
    margin-bottom: 10px;
    font-size: 43px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Styling for the input fields */
.login-container input {
    position: relative;
    top: -40px;
    left: 0;
    width: 95%;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fbfbfb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* Styling for the submit button */
.login-container button {
    position: relative;
    top: -40px;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-container button:hover {
    background-color: #123962;
}
.register-link {
    position: relative;
    top: -40px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
/* Add keyframes for the rotating background images */
@keyframes rotatingBackground {
    0% { background-color: #ffc872 }
    50% { background-color: #ffe3b3 }
    100% { background-color: #ffc872 }
    /*--------------------------------------------------------*/
    /*0% { background-image: url('../assets/image1.jpg'); }*/
    /*100% { background-image: url('../assets/image1.jpg'); }*/
    /*--------------------------------------------------------*/
    /*33% { background-image: url('../assets/image2.jpg'); }*/
    /*66% { background-image: url('../assets/image3.jpg'); }*/
    /*100% { background-image: url('../assets/image1.jpg'); }*/
}

/* Apply the animation to the body */
body.bc-background-blockchain-1 {
    animation: rotatingBackground 15s infinite;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}
.patch-note {
    width: 300px;
    padding: 20px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #A5BFCC;
    color: black;
}

.patch-note h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.patch-note ul {
    list-style-type: disc;
    padding-left: 20px;
}
.others {
    animation: rotatingBackground 15s infinite;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}