
.bc-background-blockchain-1 { background-color: #4C585B; }
.bc-background-blockchain-2 { background-color: #7E99A3; color: black; }
.bc-background-blockchain-3 { background-color: #A5BFCC; }
.bc-background-blockchain-4 { background-color: #F4EDD3; color: black;}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column; /* Change to column to stack items vertically */
    align-items: center;
    padding: 10px;
    background-color: #4C585B; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 200px; /* Adjust the height as needed */
    margin-bottom: 30px; /* Adjust margin to create space between logo and company name */
}

.company-name {
    font-size: 24px; /* Adjust the font size as needed */
    margin: 0;
}

.register-container {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    margin-block: 10px;
    font-size: 35px;
}

.register-container input {
    width: 98%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container .name-fields {
    display: flex;
    justify-content: space-between;
}

.register-container .name-fields input {
    width: 47%;
}

.register-container button {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.register-container button:hover {
    background-color: #123962;
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .register-container {
        padding: 10px;
    }
    .register-container input {
        padding: 8px;
    }
    .register-container button {
        padding: 20px;
        font-size: 18px;
    }
}
